Study of the effect of national factors on home prices in the US
Task: Using publicly available data on the national factors that impact the supply and demand of homes in the US, build a data science model to study the effect of these variables on home prices.

Approach: The following variables are chosen for the study:

Unemployment Rate
Employment Rate
Per capita GDP
Median Household Income
Construction Prices
CPI
Interest Rates
The number of new houses supplied
Working Population
Urban Population
Percentage of population above 65
Housing subsidies
Number of Households
As a proxy for home prices, the S&P Case-Shiller Index is used.

Note: Most of the data is downloaded from [https://fred.stlouisfed.org/].

Data for all the variables is downloaded, preprocessed, and combined to create a dataset using the Extract Transform Load (ETL) method. Data for different variables had different frequencies. So, to combine the data, the necessary interpolations are made.

Importing neccessary libraries

In [117]:
import numpy as np
import pandas as pd

Perform ETL

In [150]:
# Reading CASE-SHILLER Index into a dataframe
df_CS = pd.read_csv('Us-Homedataset.csv', index_col='CSUSHPISA')
# Changing dtype of date column
df_CS["DATE"] = pd.to_datetime(df_CS["DATE"])

# Selecting data till JUNE 202
mask = df_CS["DATE"] <= "2024-06-01"
df_CS = df_CS[mask]

#Resetting Index
df_CS.reset_index(inplace = True)
#df_CS.drop(columns = ["index"], inplace = True)

# Creating "Year" and "Month" columns
df_CS["Year"] = pd.DatetimeIndex(df_CS["DATE"]).year
df_CS["Month"] = pd.DatetimeIndex(df_CS["DATE"]).month
print("Shape of the CASE-SHILLER Index:- ", df_CS.shape)
df_CS.tail()

Shape of the CASE-SHILLER Index:-  (246, 17)

,CSUSHPISA,DATE,Year,Month,Per_Capita_GDP,working_age_pop,Houses,CPI,UNRATE,EmpRate,Cons_Material,FEDFUNDS,urban_pop_us,Num_Households,median_income,Subsidy,old_age_pop
241,317.257000,2024-02-01,2024,2,NaN,208655500.0,8.7,311.054,3.9,71.88552,337.766,5.33,83.2,131434,74580,48.021,17.6
242,318.217000,2024-03-01,2024,3,NaN,208606600.0,8.2,312.230,3.8,72.00176,330.965,5.33,83.2,131434,74580,48.021,17.6
243,319.048000,2024-04-01,2024,4,68070.0,208586500.0,7.7,313.207,3.9,72.02491,330.166,5.33,83.2,131434,74580,48.021,17.6
244,322.192825,2024-05-01,2024,5,NaN,208855400.0,9.1,313.225,4.0,71.88110,329.342,5.33,83.2,131434,74580,48.021,17.6
245,323.786723,2024-06-01,2024,6,NaN,208928900.0,9.3,313.049,4.1,71.82606,328.995,5.33,83.2,131434,74580,48.021,17.6

In [119]:
# Reading Unemployment Rate Data into a dataframe
df_unemp = pd.read_csv('Us-Homedataset.csv', usecols=['DATE', 'UNRATE'])
df_unemp.drop(df_unemp.index[-1], inplace=True)
print("Unemployment Rate Data:", df_unemp.shape)
df_unemp.tail()

Unemployment Rate Data: (245, 2)

           DATE  UNRATE
240  2024-01-01     3.7
241  2024-02-01     3.9
242  2024-03-01     3.8
243  2024-04-01     3.9
244  2024-05-01     4.0

In [120]:
# Reading Employment Rate Data into a dataframe
df_emp = pd.read_csv('Us-Homedataset.csv',  usecols=['DATE','EmpRate'])
df_unemp.drop(df_unemp.index[-1], inplace=True)
print("shape of the Employment Rate Data:- ", df_emp.shape)
df_emp.tail()

shape of the Employment Rate Data:-  (246, 2)

           DATE   EmpRate
241  2024-02-01  71.88552
242  2024-03-01  72.00176
243  2024-04-01  72.02491
244  2024-05-01  71.88110
245  2024-06-01  71.82606

In [121]:
# Reading Per Capita GDP Data into a dataframe
df_pcgdp = pd.read_csv("Us-Homedataset.csv", usecols=['DATE', 'Per_Capita_GDP'])
print("Shape of the Per Capita GDP Data:- ", df_pcgdp.shape)
df_pcgdp.tail()

Shape of the Per Capita GDP Data:-  (246, 2)

           DATE  Per_Capita_GDP
241  2024-02-01             NaN
242  2024-03-01             NaN
243  2024-04-01         68070.0
244  2024-05-01             NaN
245  2024-06-01             NaN

The data is quarterly. We will impute for other months using linear interpolation after we create the final dataframe combining all the data.

In [122]:
# Interest Rate Data
df_Fed_rate = pd.read_csv("Us-Homedataset.csv", usecols=['DATE', 'FEDFUNDS'])
print("Shape of the Interest rate data:- ",df_Fed_rate.shape)
df_Fed_rate.tail()

Shape of the Interest rate data:-  (246, 2)

           DATE  FEDFUNDS
241  2024-02-01      5.33
242  2024-03-01      5.33
243  2024-04-01      5.33
244  2024-05-01      5.33
245  2024-06-01      5.33

In [123]:
# Reading Construction Material Data into a dataframe
df_cons_price_index = pd.read_csv("Us-Homedataset.csv",usecols=['DATE','Cons_Material'])
df_cons_price_index.drop(df_unemp.index[-1], inplace=True)
print("Shape of the Construction Material Data:- ", df_cons_price_index.shape)
df_cons_price_index.tail()

Shape of the Construction Material Data:-  (245, 2)

           DATE  Cons_Material
240  2024-01-01        334.374
241  2024-02-01        337.766
242  2024-03-01        330.965
244  2024-05-01        329.342
245  2024-06-01        328.995

In [124]:
# Consumer Price Index
df_CPI = pd.read_csv("Us-Homedataset.csv",usecols= ["DATE", "CPI"])
print("Shape of the Consumer Price Index:- ", df_CPI.shape)
df_CPI.tail()

Shape of the Consumer Price Index:-  (246, 2)

           DATE      CPI
241  2024-02-01  311.054
242  2024-03-01  312.230
243  2024-04-01  313.207
244  2024-05-01  313.225
245  2024-06-01  313.049

In [125]:
# Monthly new house supply
df_house = pd.read_csv("Us-Homedataset.csv",usecols= ["DATE", "Houses"])
print("Shape of the monthly house supply data:- ", df_house.shape)
df_house.tail()

Shape of the monthly house supply data:-  (246, 2)

           DATE  Houses
241  2024-02-01     8.7
242  2024-03-01     8.2
243  2024-04-01     7.7
244  2024-05-01     9.1
245  2024-06-01     9.3

In [126]:
# Population above 65

df_oldpop = pd.read_csv("Us-Homedataset.csv",usecols= ["DATE", "old_age_pop"])
df_oldpop['DATE'] = pd.to_datetime(df_oldpop['DATE'])
df_oldpop['DATE'] = df_oldpop['DATE'].dt.strftime("%Y-%m-%d")
print("Shape of the population data age above 65:- ", df_oldpop.shape)
df_oldpop.tail()

Shape of the population data age above 65:-  (246, 2)

           DATE  old_age_pop
241  2024-02-01         17.6
242  2024-03-01         17.6
243  2024-04-01         17.6
244  2024-05-01         17.6
245  2024-06-01         17.6

In [127]:
# Urban Population Percent

df_urban = pd.read_csv("Us-Homedataset.csv",usecols= ["DATE","urban_pop_us"])
df_urban['DATE'] = pd.to_datetime(df_urban['DATE'])
df_urban['DATE'] = df_urban['DATE'].dt.strftime("%Y-%m-%d")
print("Shape of the urban population percent data:- ", df_urban.shape)
df_urban.tail()

Shape of the urban population percent data:-  (246, 2)

           DATE  urban_pop_us
241  2024-02-01          83.2
242  2024-03-01          83.2
243  2024-04-01          83.2
244  2024-05-01          83.2
245  2024-06-01          83.2

In [151]:
# Housing Subsidies

df_subsidy = pd.read_csv("Us-Homedataset.csv",usecols= ["DATE","Subsidy"])
print("Shape of the housing subsidies:- ", df_subsidy.shape)
df_subsidy.tail()

Shape of the housing subsidies:-  (246, 2)

           DATE  Subsidy
241  2024-02-01   48.021
242  2024-03-01   48.021
243  2024-04-01   48.021
244  2024-05-01   48.021
245  2024-06-01   48.021

In [128]:
# Real Median Household Income

df_income = pd.read_csv("Us-Homedataset.csv",usecols= ["DATE","median_income"])
print("Shape of the median household income data:- ", df_income.shape)
df_income.tail()

Shape of the median household income data:-  (246, 2)

           DATE  median_income
241  2024-02-01          74580
242  2024-03-01          74580
243  2024-04-01          74580
244  2024-05-01          74580
245  2024-06-01          74580

In [129]:
# Total number of households

df_households = pd.read_csv("Us-Homedataset.csv",usecols= ["DATE","Num_Households"])
print("Shape of the total households data:- ", df_households.shape)
df_households.tail()

Shape of the total households data:-  (246, 2)

           DATE  Num_Households
241  2024-02-01          131434
242  2024-03-01          131434
243  2024-04-01          131434
244  2024-05-01          131434
245  2024-06-01          131434

In [130]:
# Merging Per Capita GDP (Quarterly data)
df_pcgdp["DATE"] = pd.to_datetime(df_pcgdp["DATE"])
df_CS = pd.merge(df_CS,df_pcgdp, how = "left")
df_CS.head()

,CSUSHPISA,DATE,Year,Month,Per_Capita_GDP,working_age_pop,Houses,CPI,UNRATE,EmpRate,Cons_Material,FEDFUNDS,urban_pop_us,Num_Households,median_income,Subsidy,old_age_pop
0,141.646,2004-01-01,2004,1,52179.00000,187687969.2,3.8,186.3,5.7,71.278805,150.0,1.00,79.8,112000,65760,27.201,12.3
1,143.192,2004-02-01,2004,2,52275.66667,187875451.4,3.7,186.7,5.6,71.209732,153.4,1.01,79.8,112000,65760,27.201,12.3
2,145.059,2004-03-01,2004,3,52372.33333,188057722.0,3.6,187.1,5.8,71.049780,156.5,1.00,79.8,112000,65760,27.201,12.3
3,146.593,2004-04-01,2004,4,52469.00000,188320169.7,4.0,187.4,5.6,71.181759,160.1,1.00,79.8,112000,65760,27.201,12.3
4,148.186,2004-05-01,2004,5,52591.00000,188475810.3,3.8,188.2,5.6,71.132043,162.7,1.00,79.8,112000,65760,27.201,12.3

In [157]:
# Concating dataframes having monthly data to create one dataframe
df = pd.DataFrame()
df_bymonth = [df_CS, df_working, df_house, df_CPI, df_unemp, df_emp, df_cons_price_index, df_Fed_rate]
for df1 in df_bymonth:
    df1["DATE"] = pd.to_datetime(df1["DATE"])
    df1 = df1.set_index("DATE")
    df = pd.concat([df,df1], axis = 1)
print(df.shape)
df.head()

(246, 23)

,CSUSHPISA,Year,Month,Per_Capita_GDP,working_age_pop,Houses,CPI,UNRATE,EmpRate,Cons_Material,...,median_income,Subsidy,old_age_pop,working_age_pop,Houses,CPI,UNRATE,EmpRate,Cons_Material,FEDFUNDS
DATE,,,,,,,,,,,,,,,,,,,,,
2004-01-01,141.646,2004,1,52179.00000,187687969.2,3.8,186.3,5.7,71.278805,150.0,...,65760,27.201,12.3,187687969.2,3.8,186.3,5.7,71.278805,150.0,1.00
2004-02-01,143.192,2004,2,52275.66667,187875451.4,3.7,186.7,5.6,71.209732,153.4,...,65760,27.201,12.3,187875451.4,3.7,186.7,5.6,71.209732,153.4,1.01
2004-03-01,145.059,2004,3,52372.33333,188057722.0,3.6,187.1,5.8,71.049780,156.5,...,65760,27.201,12.3,188057722.0,3.6,187.1,5.8,71.049780,156.5,1.00
2004-04-01,146.593,2004,4,52469.00000,188320169.7,4.0,187.4,5.6,71.181759,160.1,...,65760,27.201,12.3,188320169.7,4.0,187.4,5.6,71.181759,160.1,1.00
2004-05-01,148.186,2004,5,52591.00000,188475810.3,3.8,188.2,5.6,71.132043,162.7,...,65760,27.201,12.3,188475810.3,3.8,188.2,5.6,71.132043,162.7,1.00

In [136]:
df = pd.read_csv('Us-Homedataset.csv')
#Check missing values (NAN)
print(df.isnull().sum())

DATE                0
CSUSHPISA           0
Year                0
Month               0
Per_Capita_GDP     12
working_age_pop     0
Houses              0
CPI                 0
UNRATE              0
EmpRate             0
Cons_Material       0
FEDFUNDS            0
urban_pop_us        0
Num_Households      0
median_income       0
Subsidy             0
old_age_pop         0
dtype: int64

The "Per_Capita_GDP" column has missing values because the data was quarterly. The missing values in the other columns are due to the unavailability of fresh data. We will first fill in the missing values in the "Per_Capita_GDP" column using linear interpolation. We will drop the rows with missing values in the other columns. This means that we will use data from 2004 to 2024.

Interpolation:

Interpolation is a mathematical technique used to estimate missing values in a dataset based on the values of neighboring data points. It calculates intermediate values based on the existing data.

In [166]:
# Filling missing values in the Per_Capita_GDP column using linear interpolation
df['Per_Capita_GDP'] = df['Per_Capita_GDP'].interpolate(method='linear')

In [141]:
df

,DATE,CSUSHPISA,Year,Month,Per_Capita_GDP,working_age_pop,Houses,CPI,UNRATE,EmpRate,Cons_Material,FEDFUNDS,urban_pop_us,Num_Households,median_income,Subsidy,old_age_pop
0,2004-01-01,141.646000,2004,1,52179.000000,187687969.2,3.8,186.300,5.7,71.278805,150.000,1.00,79.8,112000,65760,27.201,12.3
1,2004-02-01,143.192000,2004,2,52275.666670,187875451.4,3.7,186.700,5.6,71.209732,153.400,1.01,79.8,112000,65760,27.201,12.3
2,2004-03-01,145.059000,2004,3,52372.333330,188057722.0,3.6,187.100,5.8,71.049780,156.500,1.00,79.8,112000,65760,27.201,12.3
3,2004-04-01,146.593000,2004,4,52469.000000,188320169.7,4.0,187.400,5.6,71.181759,160.100,1.00,79.8,112000,65760,27.201,12.3
4,2004-05-01,148.186000,2004,5,52591.000000,188475810.3,3.8,188.200,5.6,71.132043,162.700,1.00,79.8,112000,65760,27.201,12.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2024-02-01,317.257000,2024,2,67804.666667,208655500.0,8.7,311.054,3.9,71.885520,337.766,5.33,83.2,131434,74580,48.021,17.6
242,2024-03-01,318.217000,2024,3,67937.333333,208606600.0,8.2,312.230,3.8,72.001760,330.965,5.33,83.2,131434,74580,48.021,17.6
243,2024-04-01,319.048000,2024,4,68070.000000,208586500.0,7.7,313.207,3.9,72.024910,330.166,5.33,83.2,131434,74580,48.021,17.6
244,2024-05-01,322.192825,2024,5,68070.000000,208855400.0,9.1,313.225,4.0,71.881100,329.342,5.33,83.2,131434,74580,48.021,17.6
245,2024-06-01,323.786723,2024,6,68070.000000,208928900.0,9.3,313.049,4.1,71.826060,328.995,5.33,83.2,131434,74580,48.021,17.6

In [142]:
df.dropna(inplace = True)

In [143]:
df.isna().sum()

DATE               0
CSUSHPISA          0
Year               0
Month              0
Per_Capita_GDP     0
working_age_pop    0
Houses             0
CPI                0
UNRATE             0
EmpRate            0
Cons_Material      0
FEDFUNDS           0
urban_pop_us       0
Num_Households     0
median_income      0
Subsidy            0
old_age_pop        0
dtype: int64

In [144]:
df

,DATE,CSUSHPISA,Year,Month,Per_Capita_GDP,working_age_pop,Houses,CPI,UNRATE,EmpRate,Cons_Material,FEDFUNDS,urban_pop_us,Num_Households,median_income,Subsidy,old_age_pop
0,2004-01-01,141.646000,2004,1,52179.000000,187687969.2,3.8,186.300,5.7,71.278805,150.000,1.00,79.8,112000,65760,27.201,12.3
1,2004-02-01,143.192000,2004,2,52275.666670,187875451.4,3.7,186.700,5.6,71.209732,153.400,1.01,79.8,112000,65760,27.201,12.3
2,2004-03-01,145.059000,2004,3,52372.333330,188057722.0,3.6,187.100,5.8,71.049780,156.500,1.00,79.8,112000,65760,27.201,12.3
3,2004-04-01,146.593000,2004,4,52469.000000,188320169.7,4.0,187.400,5.6,71.181759,160.100,1.00,79.8,112000,65760,27.201,12.3
4,2004-05-01,148.186000,2004,5,52591.000000,188475810.3,3.8,188.200,5.6,71.132043,162.700,1.00,79.8,112000,65760,27.201,12.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2024-02-01,317.257000,2024,2,67804.666667,208655500.0,8.7,311.054,3.9,71.885520,337.766,5.33,83.2,131434,74580,48.021,17.6
242,2024-03-01,318.217000,2024,3,67937.333333,208606600.0,8.2,312.230,3.8,72.001760,330.965,5.33,83.2,131434,74580,48.021,17.6
243,2024-04-01,319.048000,2024,4,68070.000000,208586500.0,7.7,313.207,3.9,72.024910,330.166,5.33,83.2,131434,74580,48.021,17.6
244,2024-05-01,322.192825,2024,5,68070.000000,208855400.0,9.1,313.225,4.0,71.881100,329.342,5.33,83.2,131434,74580,48.021,17.6
245,2024-06-01,323.786723,2024,6,68070.000000,208928900.0,9.3,313.049,4.1,71.826060,328.995,5.33,83.2,131434,74580,48.021,17.6

In [145]:
print("Shape of the dataframe after preprocessing:- ", df.shape)

Shape of the dataframe after preprocessing:-  (246, 17)

In [160]:
us_house_price_df = pd.read_csv('Us-Homedataset.csv').set_index("DATE")
us_house_price_df.head()

,CSUSHPISA,Year,Month,Per_Capita_GDP,working_age_pop,Houses,CPI,UNRATE,EmpRate,Cons_Material,FEDFUNDS,urban_pop_us,Num_Households,median_income,Subsidy,old_age_pop
DATE,,,,,,,,,,,,,,,,
2004-01-01,141.646,2004,1,52179.00000,187687969.2,3.8,186.3,5.7,71.278805,150.0,1.00,79.8,112000,65760,27.201,12.3
2004-02-01,143.192,2004,2,52275.66667,187875451.4,3.7,186.7,5.6,71.209732,153.4,1.01,79.8,112000,65760,27.201,12.3
2004-03-01,145.059,2004,3,52372.33333,188057722.0,3.6,187.1,5.8,71.049780,156.5,1.00,79.8,112000,65760,27.201,12.3
2004-04-01,146.593,2004,4,52469.00000,188320169.7,4.0,187.4,5.6,71.181759,160.1,1.00,79.8,112000,65760,27.201,12.3
2004-05-01,148.186,2004,5,52591.00000,188475810.3,3.8,188.2,5.6,71.132043,162.7,1.00,79.8,112000,65760,27.201,12.3

This is our preprocessed datset. Let's save it as "Us-Homedataset.csv".

Next Page